@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root{
    --color-bg: #fff;
    --color-primary: #084bc3;
    --color-secondary: #09416a;
    --color-tertiary: #617286;
    --button-primary: #2854cc;
    --button-secondary: #f1f5ff;
    --box-shadow: 0 0 12px rgba(0,0,0, .2);
}

*{
    /* outline:3px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--color-bg);
    font-family: 'Lato', sans-serif;
}

/* NavBar */
.nav{
    height: 70px;
    background: #ffffffc5;
    position: absolute;
    width: 100vw;
}

.nav__container{
    width: 90%;
    height: 100%;
    max-width: 1100px;
    min-width: 400px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__container__logo {
    color: var(--color-primary);
    font-weight: bolder;
}

.navbarbutton{
    display: inline-block;
    background: var(--button-primary);
    color: #fff;
    text-decoration: none;
    padding: 16px 30px;
    border-radius: 5px;
}


.navbarlinks{
    text-decoration: none;
    color: rgb(95, 93, 93);
    font-weight: bold;
    display: inline-block;
    margin-right: 60px;
}


.container{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}

.container--pad{
    margin-top: 100px;
}

/* hero section */
.hero{
    height: 100vh;
}

.hero__main{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.hero__img{
    width: 50%;
    margin: 0;
}

.hero__picture{
    width: 100%;
    max-height: 100%;    
}

.hero__texts{
    width: 45%;
    color: rgb(36, 49, 173);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero__title{
    padding-top: 200px;
    font-size: 4rem;
    padding-bottom: 20px;
    color: var(--color-secondary)
}

.hero__copy{
    font-size: 1rem;
    font-weight: 300px;
    color: var(--color-tertiary)
}


.hero__recomendation{
    font-size: 1rem;
    padding: 20px 0;
}

.hero__schedule{
    font-size: 1.5rem;
    padding: 100px 0;
    font-weight: 300px;
}

.location{
    width: 60%;
    height: 100px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    bottom: 40px;
    left: 150px;
    border: 1px solid lightgray;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    display: flex;
}

.location__item{
    padding: 10px 60px;
}

.location__item__title{
    font-size: 20px;
    color: blue;
}
.location__item__text{
    font-size: 20px;
    color: blue;
}

.location__item__button{    
    display: inline-block;
    width: 100px;
    height: 50%;
    background: var(--button-primary);
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    padding: 16px 0px;
    text-align: center;
    border-radius: 5px;
}

/* Card Container */
.cards__container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.cards__container__item {
    width: 200px;
    height: 250px;
    margin-bottom: 100px;
    border: 1px solid lightgray;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 10px 20px;
    overflow: hidden;
}

.cards__container__item__title{
    color: var(--color-secondary);
    font-size: 1.25rem;
    font-weight: bold;
}
.cards__container__item__text{
    color: var(--color-tertiary);
    font-size: 1rem;
    font-weight: 100;
}

/* Sections */
.section__main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section__img{
    width: 50%;
    margin: 0;
}

.section__picture{
    width: 100%;
    max-height: 100%;    
}

.section__texts{
    width: 45%;
    color: rgb(36, 49, 173);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section__title{
    padding-top: 90px;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 20px;
    color: var(--color-secondary)
}


.section__copy--np{
    font-size: 1rem;
    font-weight: 300px;
    color: var(--color-tertiary)
}

.section__copy{
    font-size: 1rem;
    font-weight: 300px;
    padding: 20px 0;
    color: var(--color-tertiary)
}

.section__copy__text{
    color: var(--color-tertiary);
}

/* Contact Box */
.section__contacts{
    display: flex;
    flex-direction: column;
}
.section__contacts__par{
    display: flex;
    margin-top: 30px;
}
.section__contacts__box{
    display: flex;
    border: 1px solid lightgray;
    background: #fff;
    box-shadow: var(--box-shadow);
    flex-direction: column; 
    align-items: center;
    padding: 10px 10px;
    margin-right: 30px;
}
.section__contacts__box__text{
    display: flex;
}

.section__contacts__box__title{
    color: var(--color-secondary)
}

.contact_button{
    display: inline-block;
    width: 175px;
    margin: 0 auto;
    text-align: center;
    background:var(--button-secondary);
    color: #2965cd;
    font-weight: bold;
    text-decoration: none;
    padding: 16px 30px;
    border-radius: 5px;
}

.contact_button--active{
    background:var(--button-primary);
    color: #fff;
}



/* About */
.container__about{
    background-color: var(--button-secondary);
    width: 100%;
    height: 280px;
    border: 1px solid lightgray;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.about__block1{
    display: flex;
    justify-content: space-between;   
}
.about__block2{
    display: flex;
    justify-content: space-between;
}

.about__v1_title{
    font-size: 1.5rem;
    color: var(--color-primary);
    font-weight: bolder;
}
.about__v2_title{
    font-size: 1.5rem;
    color: var(--color-secondary);
    font-weight: bolder;
}
.about__v1_text, .about__v2_text {
    color: var(--color-tertiary);
    font-size: 1rem;
    padding-top: 20px;
}
.about__v1{
    width: 30%;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding-right: 100px;
}

.about__v2{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: 50px;
    padding-right: 100px;
}

.about__v1_text--sp{
    margin: 20px 20px;
    padding: 20px 20px;
}


/* ToDo Media Queries */
@media screen and (max-width:800px){
}

@media screen and (max-width:500px){
}